<form id="preg2-inter-nac">
    <section>
        <label
        >¿Te gustaría explorar un destino internacional o nacional?</label
        >
        <div>
            <input
            type="radio"
            id="dest-inter"
            name="dest-inter-nac"
            value="internacional"
            />
            <label for="dest-inter">Internacional</label>
            <input
            type="radio"
            id="dest-nac"
            name="dest-inter-nac"
            value="nacional"
            />
            <label for="dest-nac">Nacional</label>
            <input
            type="radio"
            id="dest-indif"
            name="dest-inter-nac"
            value="indiferente"
            />
            <label for="dest-indif">Indiferente</label>
        </div>
    </section>
    <div>
        <button type="button" onclick="pregInterNac()">Siguiente</button>
    </div>
</form>
