
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body{
    background-color: rgb(16, 186, 243);
    & header{
        display: flex;
        justify-content: center;
        color: white;
    }
}

.section-principal{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    border-radius: 20PX;
    margin: 30px;
    padding: 5cqmin; 
    font-family: "Roboto", sans-serif ;
}

.form-principal{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 5px;
}

.clase1{
    display: flex;
    justify-content:space-around; 

    & img {
        height: 200px;
    }   

    & .clase1-1{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-evenly;

        & div{
            display: flex;
            flex-direction: row;
            gap: 10px; 
            justify-content: space-between;   
        }
    }
}

.clase2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 

    & .clase2-1{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    & .clase2-1 input{
        padding: 20px;
        border-radius: 4px;
    }

}

