<main>
  <section class="perfil">
    <img class="perfil__avatar" src="../../img/avatar.jpg" alt="Imagen de avatar">
    <h2 class="perfil__nombre">jhon Wick</h2>
    <h3 class="perfil__titulo">Asesino legendario</h3>
    <a href="perfil__btn" class="perfil__boton">seguir</a>

    <div class="perfil--estadistica">
      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">12K</h3>
        <span>seguidores</span>
      </div>

      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">1.7K</h3>
        <span>siguiendo</span>
      </div>

      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">48</h3>
        <span>Articulos</span>
      </div>  
    </div>

    <div class="perfil__bio">
      <h2>acerca de mi</h2>
      <h3>Asesino a sueldo retirado y amante de perros</h3>
    </div>

    <div class="perfil--ubicacion">
      <i class="fa-solid fa-location-dot"></i>
      <h2>Estados unidos</h2>
      <h3>223km cerca</h3>
    </div>

    <div class="perfil--galeria">
      <h2>mis fotos</h2>
      <div class="perfil--galeria--grid">     
        <img class="perfil--galeria--grid--foto-1" src="../../img/galeria1.jpg" alt="">
        <img class="perfil--galeria--grid--foto-2" src="../../img/galeria2.jpg" alt="">
        <img class="perfil--galeria--grid--foto-3" src="../../img/galeria3.jpg" alt="">
        <img class="perfil--galeria--grid--foto-4" src="../../img/galeria4.jpg" alt="">
        
      </div>
    </div>
  </section>

  <section class="noticias">

    <article class="noticias__seccion">
      <h2>PLAYSATION</h2>
      <h3>GTA VI: Filtraciones que son bastante dudosas</h3>
      <p>
        Recientemente se filtró en Internet una importante cantidad de supuesta
        información sobre Grand Theft Auto VI (GTA VI) que nos ofrece una muy
        buena idea de lo que podemos esperar.
      </p>
    </article>

    <article class="noticias__seccion">
      <h2>Switch</h2>
      <h3>
        Secuela de The Legend of Zelda: Breath of the wild anunciada en el E3
        2019
      </h3>
      <p>
        Nintendo anunció la secuela de The Legend of Zelda: Breath of the Wild
        en el E3 2019 y todos estamos más que emocionados con esto.
      </p>
    </article>

    <article class="noticias__seccion">
      <h2>XBOX</h2>
      <h3>Red Dead recibe actualización masiva y sale de Beta</h3>
      <p>
        Rockstar lanzó el día de hoy la actualización más grande de Red Dead
        Online desde que el componente online de Red Dead Redemption 2 se lanzó
        en noviembre.
      </p>
    </article>
  </section>

</main>