
<h1>AmaCations</h1>
<!-- Pregunta 1 -->
<form id="preg1-entorno">
    <section>
        <label>¿Qué tipo de entorno prefieres para tus vacaciones?</label>
        <div>
        <input
            type="radio"
            id="entorno-playa"
            name="tipo-entorno"
            value="playa"
        />
        <label for="entorno-playa">Playa</label>
        <input
            type="radio"
            id="entorno-montana"
            name="tipo-entorno"
            value="montana"
        />
        <label for="entorno-montana">Montaña</label>
        <input
            type="radio"
            id="entorno-ciudad"
            name="tipo-entorno"
            value="ciudad"
        />
        <label for="entorno-ciudad">Ciudad</label>
        </div>
    </section>
    <div>
        <button type="button" id="preg1-btn" (click)="pregEntorno()">Siguiente</button>
    </div>
</form>

    <!-- Pregunta 2 -->






