    :root {
        --text-colorgris: #263238;
        --bg-button: #DEE5E9;
        --bg-blue: #083F61;
        --border-button: #0091EA;
        --text-color-blanco: #edefef;
        --text-colorblack: #000000;
    }
